.friendList {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.FriendListItem {
  width: 400px;
  height: 100px;
  box-shadow: 10px 10px 5px 0 grey;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
}
