/* .friendItemWrapper {
  display: flex;
  align-items: center;
} */
.FriendListItem {
  width: 400px;
  height: 100px;
  box-shadow: 10px 10px 5px 0 grey;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
}
.stat {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
}
.avatar {
  margin-right: 20px;
  background-color: wheat;
  border-radius: 20%;
}
.name {
  font-size: 25px;
  font-weight: 500;
}
